<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/script/ajax-post-login.js"></script>
</head>

<body>
    <p>Email:</p><br>
    <input id="email" type="text" name="email"><br>
    <p>Password:</p><br>
    <input id="password" type="password" name="password"><br>

    <div>
        <p id="error_login"></p>
    </div>

    <br><br>
    <input id="btn_submit" type="button" value="Submit" />
</body>

</html>